<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container text-center">
            <h1>Santander</h1>
            <h3>Quest 2 - SantanderProject</h3>
            <img src="https://media.giphy.com/avatars/Santander_ar/hGVk5ukrRxOY.gif">
        </div>

    </body>
</html>